body {
  background-color: black;
  color: white;
  font-family: "IBM Plex Mono", monospace;
}
.navbar-brand span {
  border: 1px white solid;
  padding: 0.5rem;
  margin-top: 2rem;
}

.home-container {
  color: #708090;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  /* margin-top: 15rem; */
  margin: 15rem auto;
}
.social {
  margin-top: 2rem;
}
