body {
  background-color: black;
  color: white;
  font-family: "IBM Plex Mono", monospace;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
.card-btn {
  margin-right: 40px;
}

.card {
  background-color: #100e17;
  margin-bottom: 3rem;
}
.card-body h5 {
  font-size: 1.5em;
  font-weight: 300;
}
